<div class="col-md-12">
	<h3 class="mb-3 text-center">Order Stocks</h3>
	<div class="form-group row">
	  <label class="control-label col-md-12">Stock</label>
	  <input type="text" [(ngModel)]="stockdetails.stockTicker" class="form-control">
	</div>

	<div class="form-group row">
	  <label class="control-label col-md-12">Volume</label>
	  <input type="text" [(ngModel)]="stockdetails.volume" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">Price</label>
	  <input type="text" [(ngModel)]="stockdetails.price" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">Id</label>
	  <input type="text" [(ngModel)]="stockdetails.id" class="form-control">
	</div>


    <div class="form-group row">
	  <label class="control-label col-md-12">BuyOrSell</label>
	  <input type="text" [(ngModel)]="stockdetails.buyOrSell" class="form-control">
	</div>

    <div class="form-group row">
	  <label class="control-label col-md-12">StatusCode</label>
	  <input type="text" [(ngModel)]="stockdetails.statusCode" class="form-control">
	</div>

	<div class="form-group">
	  <button class="btn btn-success btn-lg btn-block" (click)="addStocks()">Order Stocks</button>
	</div>
</div>
