<!-- Stocks list table, it hides when there is no Order -->
<h2>Stocks Order History</h2>
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
		  	<th scope="col">Order Id</th>
			<th scope="col">Ticker</th>
			<th scope="col">DateTime</th>
			<th scope="col">Details</th>
		  </tr>
		</thead>
		<tbody>
		  <tr *ngFor="let stocks of Stocks">
		  	<td>{{stocks.id}}</td>
			
			<td>{{stocks.stockTicker}}</td>
			<td>{{stocks.datetime}}</td>
			<td>
				<button (click) = "getStockById(stocks.id)" class= "btn btn-info">View</button>
			</td>
		  </tr>
		</tbody>
	  </table>
		
		

			  
			
	</div>
</div>