<!-- Stocks list table, it hides when there is no Order -->
<div *ngIf="Stocks.length !== 0">
	<div class="col-md-12">
	  <table class="table table-bordered">
		<thead>
		  <tr>
		  	<th scope="col">Order Id</th>
			<th scope="col">Ticker</th>
			<th scope="col">DateTime</th>
            <th scope="col">Price</th>
            <th scope="col">Volume</th>
            <th scope="col">Type</th>
            <th scope="col">StatusCode</th>
			
		  </tr>
		</thead>
		<tbody>
		  <tr >
		  	<td>{{Stocks.id}}</td>
			<td>{{Stocks.stockTicker}}</td>
			<td>{{Stocks.datetime}}</td>
            <td>{{Stocks.price}}</td>
            <td>{{Stocks.volume}}</td>
            <td>{{Stocks.buyOrSell}}</td>
            <td>{{Stocks.statusCode}}</td>
            
			
		  </tr>
		</tbody>
	  </table>
		
		

			  
			
	</div>
</div>